.modalDialog {
  background-color: #272a36;
  width: calc(100% - 10px);
  max-width: 420px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.modalDialog.centered.animation {
  animation: slide-bottom-center 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.modalDialog.animation {
  animation: slide-bottom 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.modalDialog.centered {
  top: 50%;
  transform: translate(-50%, -50%);
}

.modalDialog.sm {
  max-width: 320px;
}

.modalDialog.lg {
  max-width: 768px;
}

.modalDialog.xl {
  max-width: 1024px;
}

.modalDialog.fs-true {
  height: 100vh;
}

@media screen and (max-width: 480px) {
  .modalDialog.fs-true {
    width: 100vw;
    max-width: none;
  }
}

@media screen and (max-width: 768px) {
  .modalDialog.fs-md-down {
    width: 100vw;
    height: 100vh;
    max-width: none;
  }
}
@media screen and (max-width: 1024px) {
  .modalDialog.fs-lg-down {
    width: 100vw;
    height: 100vh;
    max-width: none;
  }
}
@media screen and (max-width: 1280px) {
  .modalDialog.fs-xl-down {
    width: 100vw;
    height: 100vh;
    max-width: none;
  }
}

@keyframes slide-bottom-center {
  0% {
    top: 0;
    opacity: 0;
  }
  100% {
    top: 50%;
    opacity: 1;
  }
}

@keyframes slide-bottom {
  0% {
    top: 0;
    opacity: 0;
  }
  100% {
    top: 10%;
    opacity: 1;
  }
}
